body {
    font-family: 'Raleway', sans-serif;
    margin: 0 2em 0 2em;
}

/*Navagation style*/
nav {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    height: 50px;
    margin: 1em 0 2em;
}

nav>ul {
    width: 30%;
    display: flex;
    align-items: center;
}

nav>ul>li {
    text-align: center;
    justify-content: space-between;
    margin: 10px auto;
}

nav>ul>.subscribe-button {
    text-decoration: none;
    text-align: center;
    color: #0065fc;
    font-weight: bold;
    margin: 10px auto;
}

a.nav-links {
    text-decoration: none;
    font-weight: 500;
    padding: 0 2em;
    color: black;
    transition: color 250ms;
}

.nav-links:hover {
    font-weight: 600;
    padding-top: 2.34em;
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

/*header*/
.intro {
    margin-bottom: 1.5em;
}

.intro>h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .25em;
}

.intro>h2 {
    font-weight: 500;
    font-size: .8em;
}

/*search bar*/
.search-bar {
    display: flex;
    align-items: center;
}

.location-icon {
    background-color: #f2f2f2;
    height: 2.1em;
    width: 2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.location-icon>span {
    display: flex;
    justify-content: center;
    transform: translateY(.6em);
}

input[type=search] {
    color: black;
    padding: .6em;
    border: 1px solid #f2f2f2;
}

.search-button {
    text-decoration: none;
    background-color: #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-button>span {
    display: flex;
    font-weight: 500 bold;
    padding: .54em;
    color: #f2f2f2;
}

.search-filters {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    margin-top: 1.5em;
}

/*filter button style*/
.filter-button {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.filter-content {
    display: flex;
    align-items: center;
    align-content: center;
}

.filter-icon {
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    transform: translateX(2em)
}

.filter-icon>span {
    display: flex;
    justify-content: center;
    transform: translateY(.5em);
    color: #0065fc;
}

#filter-name {
    display: flex;
    border: 1.5px solid rgb(214, 213, 213);
    border-radius: 50px;
    background-color: white;
}

#filter-name>span {
    font-size: 1em;
    margin-left: 1.75em;
    padding: .4em;
}

/*information blurb*/

.infos {
    display: flex;
    margin-top: 2em;
}

.infos>p {
    font-size: 1em;
    font-weight: 400;
    margin-top: .4em;
    margin-left: 2.5em;
    display: flex;
    justify-content: flex-end;
}

.circle-border-info {
    position: absolute;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.circle-border-info>span {
    display: flex;
    align-items: flex-start;
    justify-content: center
}

.fa-info {
    margin: .32em;
    color: #0065fc;
}



/*Main Content Container placement*/
main {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 70%;
    margin: 2% 2% 4% 0;
    background-color: #f2f2f2;
    border-radius: 15px;
}

aside {

    margin: 2% 0 4%;
    width: 28%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.search-location-container,
.trending-header-container {
    margin: 3%;
}

.trending-product-header {
    display: flex;
    align-items: center;
}

.trending-product-header>span {
    margin-left: 5em;
}

.location-header>h2,
.trending-product-header>h2,
.search-result-activities>h2 {
    margin: 1.5rem;
    font-size: 1.5em;
    font-weight: bold;
}

.display-results {
    display: flex;
    justify-content: space-around;
}

/*clickable product cards for search*/
#search-cards {
    display: inline-block;
    height: 25vh;
}

#search-cards>img {
    margin: 2.5%;
    padding: 0;
    width: 95%;
    height: 55%;
    display: flex;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.clickable-search-card {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 1em;
    padding: 0;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.search-content>h3 {
    font-weight: bold;
    margin: .5em;
}

.search-content>p {
    margin: .5em;
}

.search-content>p>span {
    font-weight: bold;
}

.search-content>span {
    color: #0065fc;
    margin-left: .3em;
}

.search-content>span>i:nth-child(5) {
    margin-top: .4em;
    color: #DEEBFF;
}

.search-content {
    color: black;
    margin-left: 1em;
}

.more-results>h4 {
    margin: 1.5em;
    font-size: 1em;
    font-weight: bold;
}

/*clickable cards for trending*/


.trending-product-container {
    display: flex;
    flex-direction: column;
}

.clickable-trending-card {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 1em;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

#trending-cards {
    display: flex;
}

.img-container {
    display: flex;
    align-items: flex-start;
    margin: .2em;
    width: 18vh;
}

.trending-img {
    width: 18vh;
    border-radius: 15px 0 0 15px;
}

.trending-content {
    color: black;
    margin-left: .5em;
    width: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.trending-content>h3,
.trending-content>P>span {
    color: black;
    font-weight: bold;
    margin-bottom: .5em;
}



.trending-content>span {
    flex: flex;
    justify-content: flex-end;
    align-self: baseline;
    color: #0065fc;
    margin-top: 1.5em;
}

/*activity cards*/

.activity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-container a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.activity-card1,
.activity-card4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em 2em;
    height: 500px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.activity-card2,
.activity-card3,
.activity-card5,
.activity-card6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em 2em;
    height: 230px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.activity-card1 .img-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}

.activity-card2 .img-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}

.activity-card3 .img-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}

.activity-card4 .img-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center bottom;
    border-radius: 15px 15px 0 0;
}

.activity-card5 .img-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}

.activity-card6 .img-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 15px 15px 0 0;
}

.activity-title {
    display: flex;
    align-self: flex-start;
    margin: 1em 1.5em;
}

.activity-title {
    color: black;
    font-weight: bolder;
    font-size: 1em;
}

/*footer Navagation*/
footer {
    background-color: #f2f2f2;
    position: absolute;
    margin-top: 2.5em;
    padding-bottom: 2em;
    height: 150px;
    left: 0;
    right: 0;
}

.footer-container {
    display: flex;
    margin-top: 1.5em;
    margin-left: 2em;
    margin-right: 25%;
    margin-bottom: 1.5em;
    justify-content: space-between;
}

.col-1,
.col-2,
.col-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.col-1>h4,
.col-2>h4,
.col-3>h4 {
    color: black;
    font-weight: bold;
    margin: 1em 1em 1em 0;
}

.col-1>ul>li>a,
.col-2>ul>li>a,
.col-3>ul>li>a {
    font-weight: 300;
    text-decoration: none;
    color: black;
    transition: 200ms;
}

.col-1>ul>li,
.col-2>ul>li,
.col-3>ul>li {
    margin-top: .75em;
}


@media screen and (min-width: 667px) and (max-width:1200px) {
    body {}
}

@media screen and (max-width:666px) {
    body {}
}