body {
    font-family: 'Raleway', sans-serif;
    margin: 0 2em 0 2em;
}

/*Navagation style*/
nav {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    height: 50px;
    margin: 1em 0 2em;
}

nav>ul {
    width: 30%;
    display: flex;
    align-items: center;
}

nav>ul>li {
    text-align: center;
    justify-content: space-between;
    margin: 10px auto;

}

a.nav-links {
    text-decoration: none;
    font-weight: 500;
    padding: 0 2em;
    color: black;
    transition: color 250ms;
}

.nav-links:hover {
    font-weight: 600;
    padding-top: 2.35em;
    border-top: 2px solid #0065fc;
    color: #0065fc;

}

/*header*/
.intro {
    margin-bottom: 1.5em;
}

.intro>h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .25em;
}

.intro>h2 {
    font-weight: 500;
    font-size: .8em;
}

/*search bar*/
.search-bar {
    display: flex;
    align-items: center;
}

.location-icon {
    background-color: #f2f2f2;
    height: 2.1em;
    width: 2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.location-icon>span {
    display: flex;
    justify-content: center;
    transform: translateY(.6em);
}

input[type=search] {
    color: black;
    padding: .6em;
    border: 1px solid #f2f2f2;
}

.search-button {
    text-decoration: none;
    background-color: #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-button>span {
    display: flex;
    padding: .54em;
    color: #f2f2f2;
}

.search-filters {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    margin-top: 1.5em;
}

/*filter button style*/
.filter-button {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.filter-content {
    display: flex;
    align-items: center;
    align-content: center;
}

.filter-icon {
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    transform: translateX(2em)
}

.filter-icon>span {
    display: flex;
    justify-content: center;
    transform: translateY(.5em);
    color: #0065fc;
}

#filter-name {
    display: flex;
    border: 1.5px solid rgb(214, 213, 213);
    border-radius: 50px;
    background-color: white;
}

#filter-name>span {
    font-size: 1em;
    margin-left: 1.75em;
    padding: .4em;
}

/*information blurb*/

.infos {
    display: flex;
    margin-top: 2em;
}

.infos>p {
    font-size: 1em;
    font-weight: 400;
    margin-top: .4em;
    margin-left: 2.5em;
    display: flex;
    justify-content: flex-end;
}

.circle-border-info {
    position: absolute;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.circle-border-info>span {
    display: flex;
    align-items: flex-start;
    justify-content: center
}

.fa-info {
    margin: .32em;
    color: #0065fc;
}



/*Main Content Container placement*/
main {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 70%;
    margin: 2% 2% 4% 0;
    background-color: #f2f2f2;
    border-radius: 15px;
}

aside {
    margin: 2% 0 4%;
    width: 28%;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.search-location-container,
.popular-product-container {
    margin: 3%;
}

.popular-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-product-header>span {
    margin-left: 5em;
}

.location-header>h2,
.popular-product-header>h2,
.search-result-activities>h2 {
    margin: 1.5rem;
    font-size: 1.5em;
    font-weight: bold;
}

.display-results {
    display: flex;
    justify-content: space-around;
}

/*clicable product cards for section*/
#search-cards {
    display: inline-block;
    height: 25vh;
}

#search-cards>img {
    margin: 2.5%;
    padding: 0;
    width: 95%;
    height: 55%;
    display: flex;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.clickable-search-card {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 1em;
    padding: 0;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.search-content>h3 {
    font-weight: bold;
    margin: .5em;
}

.search-content>p {
    margin: .5em;
}

.search-content>p>span {
    font-weight: bold;
}

.search-content>span {
    color: #0065fc;
    margin-left: .3em;
}

.search-content>span>i:nth-child(5) {
    margin-top: .4em;
    color: #DEEBFF;
}

.search-content {
    color: black;
    margin-left: 1em;
}

.more-results>h4 {
    margin: 1.5em;
    font-size: 1em;
    font-weight: bold;

}



/*footer Navagation*/
footer {
    background-color: #DEEBFF;
    position: absolute;
    bottom: o;
    left: 0;
    right: 0;
}

.footer-container {
    display: flex;
    margin-top: 1.5em;
    margin-left: 2em;
    margin-right: 25%;
    justify-content: space-between;
}

.col-1,
.col-2,
.col-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


@media screen and (min-width: 667px) and (max-width:1200px) {
    body {}
}

@media screen and (max-width:666px) {
    body {}
}